RuleEdit/Service References/srvEvalPersona/srvEvalPerson1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HelperBRE.SampleSubject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HelperBRE.SampleSubject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:double" />
      <xs:element minOccurs="0" name="RuleEval" type="xs:boolean" />
      <xs:element minOccurs="0" name="Salary" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
</xs:schema>